<footer>
    <h5 class="center-align">
        <a class="indigo-text text-darken-4" href="#">
            <i class="material-icons">arrow_upward</i>Back To Top<i class="material-icons">arrow_upward</i>
        </a>
    </h5>
</footer>
</body>
</html>